body{
	background-color: #E0E0E0;
}
header{
	background-color: #6A1B9A;
}
footer{
	background-color: #263238;
}

#wrapper{
	background-color: #FFFFFF;
}
#header_login{
	margin-top:15px;
}
.pnl_aside{
	border-color: #6A1B9A;
}
.pnl_aside > .panel-heading{
	background-color: #6A1B9A;
	color: white;
}
.footer_color h4{
  color: white;
}

.footer_color a{
  color: white;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}